* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
  background-color: #09a99f;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator-container {
  width: 20rem;
  background-color: #2c3e50;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.display-screen {
  padding: 1.5rem;
  background-color: #34495e;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
}

.display-screen .present {
  font-size: 2.6rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #0c1925;
  gap: 10px;
  padding: 1rem;
}

button {
  border: none;
  outline: none;
  padding: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #2c3e50;
  color: white;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #3d566e;
}

.operator {
  background-color: #e85534;
}
.operator:hover {
  background-color: #d63f1e;
}

.clear,
.delete {
  background-color: #269cdb;
}
.clear:hover,
.delete:hover {
  background-color: #1686c2;
}

.equals {
  grid-column: span 2;
  background-color: #18ce51;
}

.equals:hover {
  background-color: #0fab40;
}
